.heading-primary {
  font-family: "Lora", serif;
  color: #ffffff;
  font-size: 5rem;
  padding: 0rem 10rem;
  font-weight: 400;
}

.heading-secondary {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  padding: 0rem 17rem;
}
