.section-home {
  display: flex;
  max-width: 100vw;
  height: 100vh;
  //border: 3px solid red;
}

.image-container {
  position: relative;
  height: 50vh;
  flex: 1;
}

.main-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.home-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  height: 50%;
  max-width: 80rem;
  border: 3px solid red;
  text-align: center;
}

.home-button {
  margin-top: 3rem;
  padding: 1rem 3rem;
  border-radius: 0.7rem;
  background-color: $color-primary;
  border: none;
}
