.question-section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question {
  display: flex;
  width: 120rem;
  min-height: 40rem;

  @include respond(tab-port) {
    display: grid;
    padding: 2rem;
  }

  &-box {
    width: 95%;

    color: $color-black;
    justify-content: center;
    animation: moveInRight 0.2s ease;

    &__title {
      font-size: 4.6rem;
      font-weight: 300;
      font-family: "Poppins", sans-serif;
      text-align: center;
      padding: 2rem 2rem;
      max-width: 65rem;
      margin-inline: auto;
      line-height: 6.4rem;
      margin-bottom: 2rem;
    }

    &__answers {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      align-items: center;
      gap: 1rem;
      margin-bottom: 2rem;
    }

    &__answer {
      font-family: "Poppins", sans-serif;
      color: $color-black;
      display: flex;
      justify-content: start;
      font-size: 1.5rem;
      border: 1px solid $color-border;
      padding: 0.8rem 2.4rem;
      border-radius: 0.6rem;
      cursor: pointer;
      background: none;
      min-width: 18rem;
      position: relative;
      box-sizing: border-box;

      p {
        z-index: 100;
        color: $color-black;
      }

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $color-primary;
        left: 0;
        bottom: 0;
        transform: scale(0, 1);
        transform-origin: 0% 100%;
        border-radius: 0.6rem;
        transition: transform 0.25s ease-out 0.2s;
      }

      &:hover::after,
      &.selected {
        transform: scale(1, 1);
        background-color: $color-primary;
      }
    }

    &__buttons {
      display: flex;
      justify-content: center;
      gap: 3rem;
      margin-top: 4rem;
      align-items: center;

      &__back {
        font-family: "Poppins", sans-serif;
        cursor: pointer;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid $color-secondary;
        color: $color-secondary;
        transform: translateX(0px);
        transition: transform 0.25s ease 0.1s;

        &:hover {
          transform: translateX(-2px);
        }
      }

      &__forward {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        cursor: pointer;
        padding: 1.2rem 3rem;
        font-size: 1.4rem;
        background-color: $color-primary;
        display: flex;
        align-items: center;
        border: none;
        border-radius: 0.8rem;
        transform: translateX(0px);
        transition: transform 0.2s ease-in-out 0.2s;

        &:hover {
          transform: translateX(6px);
        }

        &:active {
          transform: translateX(0);
        }

        span {
          gap: 1rem;
          display: flex;
          align-items: center;
        }
      }
    }
  }

  &-progressbar {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 1rem;

    @include respond(tab-port) {
      margin-top: 5rem;
    }
  }
}
