.question-section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question {
  display: flex;
  max-width: 130rem;
  height: 35rem;
  border: 3px solid red;

  &-box {
    width: 85%;
    color: $color-black;

    &__title {
      font-size: 4rem;
      font-weight: 400;
      font-family: "Lora", serif;
      text-align: center;
      padding: 2rem 10rem;
    }

    &__answers {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      align-items: center;
      gap: 1rem;
      margin-bottom: 2rem;
    }

    &__answer {
      font-family: "Montserrat", sans-serif;
      color: $color-black;
      display: flex;
      justify-content: start;
      font-size: 1.8rem;
      border: 1px solid $color-border;
      padding: 0.8rem 2.4rem;
      border-radius: 0.6rem;
      cursor: pointer;
      background: none;
      min-width: 18rem;

      &.selected,
      &:hover {
        background-color: $color-primary;
      }
    }

    &__buttons {
      display: flex;
      justify-content: center;
      gap: 3rem;
      align-items: center;

      &__back {
        cursor: pointer;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid $color-secondary;
        color: $color-secondary;
      }

      &__forward {
        cursor: pointer;
        padding: 1.2rem 3rem;
        font-size: 1.4rem;
        background-color: $color-primary;
        display: flex;
        align-items: center;
        border: none;
        border-radius: 0.8rem;

        span {
          gap: 1rem;
          display: flex;
          align-items: center;
        }
      }
    }
  }

  &-progressbar {
    width: 15%;
    position: relative;
    margin-top: 1rem;
    margin-left: 4rem;
  }
}
