.products {
  position: absolute;
  display: flex;
  left: 0;
  right: 0;
  bottom: 0;
  //border: 3px solid red;
  width: 100%;
  height: 55%;
  padding: 0 15rem;
  justify-content: center;
  align-items: start;

  @include respond(tab-port) {
    //width < 900?
    height: 58%;
  }

  &-box {
    display: flex;
    flex-direction: column;
    position: relative;

    &-all {
      display: flex;
      gap: 4rem;
      overflow: hidden;
      justify-content: center;
      //border: 3px solid red;

      @include respond(tab-port) {
        //width < 900?
        display: grid;
        gap: 5rem;
      }
    }

    &-slider {
      display: flex;
      align-items: center;
      justify-content: center;
      //border: 3px solid red;
      height: 4rem;
      width: 100%;
      gap: 1rem;

      @include respond(tab-port) {
        //width < 900?
        margin-bottom: 3rem;
      }

      &-dots {
        background-color: $color-empty-dot;
        width: 0.8rem;
        height: 0.8rem;
        border-radius: 100%;
        border: none;
        cursor: pointer;

        @include respond(tab-port) {
          //width < 900?
          width: 1.4rem;
          height: 1.4rem;
        }

        &.selected,
        &:active,
        &:focus {
          width: 1rem;
          height: 1rem;
          background-color: $color-border;
          border: none;

          @include respond(tab-port) {
            //width < 900?
            width: 1.6rem;
            height: 1.6rem;
          }
        }
      }
    }
  }

  &-text {
    border-radius: 1.4rem;
    width: 300px;
    height: 360px;
    //border: 3px solid red;
    background-color: #eef7fb;
    padding: 0rem 3rem;
    color: $color-black;
    animation: moveInBottom 0.8s ease-in-out;

    @include respond(tab-port) {
      //width < 900?
      height: 100%;
      width: 300px;
      padding-bottom: 3rem;
    }

    h1 {
      font-weight: 400;
      margin-top: 2.6rem;
      font-family: "Poppins", sans-serif;
      font-size: 3rem;
      text-align: center;
      margin-bottom: 1.4rem;
    }

    p {
      font-family: "Poppins", sans-serif;
      font-size: 1.4rem;

      @include respond(tab-port) {
        //width < 900?
        font-size: 1.6rem; //1rem = 8px
      }
    }
  }

  &-items {
    position: relative;
    border-radius: 1rem;
    width: 300px;
    height: 360px;
    background-color: $color-white;
    color: $color-black;
    overflow: hidden;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    position: relative;
    animation: moveInRight 0.5s ease-in-out;
    //border: 3px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;

    @include respond(tab-port) {
      //width < 900?
      height: 360px;
      width: 270px;
    }

    &-img {
      height: 70%;
    }

    &__box {
      display: flex;
      flex-direction: column;
      padding: 1rem 2rem;
      align-items: center;
      height: 30%;
      justify-content: space-between;

      h1 {
        font-weight: 500;
        font-family: "Poppins", sans-serif;
        text-align: center;
        margin-bottom: 0.4rem;
        font-size: 1.4rem;
        letter-spacing: 0.08rem;

        @include respond(tab-port) {
          //width < 900?
          font-size: 2.2rem;
        }
      }

      p {
        font-weight: 500;
        font-family: "Poppins", serif;
        //font-size: 3rem;
        text-align: center;
        margin-bottom: 1.4rem;
        letter-spacing: 0.1rem;
        font-size: 1.9rem;

        @include respond(tab-port) {
          //width < 900?
          font-size: 3rem;
        }
      }
    }

    &-img__main {
      background-color: $color-white;
      display: flex;
      object-fit: cover;
      padding-top: 2rem;
      width: 75%;
      margin: 0 auto;
      //scale: 0.85;
      transition: all 0.3s ease-in-out 0.2s;

      &:hover {
        scale: 1.1;
      }
    }

    &-fav {
      position: absolute;
      top: 1.6rem;
      right: 1.6rem;
      width: 2.6rem;
      height: 2.6rem;
      cursor: pointer;
      border: none;
      background: none;

      @include respond(tab-port) {
        //width < 900?
        right: 4rem;
        top: 2rem;
      }
    }

    &__main {
      display: flex;
      object-fit: cover;
      width: 100%;
    }
  }

  &-button-next {
    display: flex;
    position: absolute;
    top: 40%;
    right: 12%;
    justify-content: center;
    align-items: center;
    //height: 95%;
    width: 5rem;
    //border: 3px solid red;
    margin-left: 2.5rem;
    transition: transform 0.2s ease-in-out 0.2s;

    @include respond(tab-port) {
      //width < 900?
      top: 30%;
      right: 12%;
      margin-top: 35rem;
      width: 0rem;
    }

    &:hover {
      transform: translateX(8px);
    }

    button {
      display: flex;
      align-items: center;
      padding: 1.8rem;
      border-radius: 100%;
      border: none;
      margin: 1rem;
      cursor: pointer;

      @include respond(tab-port) {
        //width < 900?
        padding: 2rem;
      }

      img {
        width: 1.4rem;

        @include respond(tab-port) {
          //width < 900?
          width: 2rem;
        }
      }
    }
  }

  &-button-prev {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 12%;
    width: 5rem;
    z-index: 1;
    //border: 3px solid red;
    margin-right: 2.5rem;
    transition: transform 0.2s ease-in-out 0.2s;

    @include respond(tab-port) {
      //width < 900?
      top: 30%;
      left: 12%;
      margin-top: 35rem;
      width: 0rem;
    }

    &:hover {
      transform: translateX(-8px);
    }

    button {
      display: flex;
      align-items: center;
      padding: 1.8rem;
      border-radius: 100%;
      border: none;
      margin: 1rem;
      cursor: pointer;

      @include respond(tab-port) {
        //width < 900?
        padding: 2rem;
      }

      img {
        width: 1.4rem;
        rotate: 180deg;

        @include respond(tab-port) {
          //width < 900?
          width: 2rem;
        }
      }
    }
  }
}
